
<div class="container-fluid page">
<div class="page__box p-3 mt-2">Home</div>
  <div class=" shadow p-3 position-relative">
        <div class=" text-dark text-center">
          <h1 class="mb-1" data-aos="fade-up" data-aos-duration="3000">
            Happiness is an emotional state
          </h1>
          Happiness is an emotional state characterized by feelings of joy, satisfaction, contentment, and fulfillment. While happiness has many different definitions, it is often described as involving positive emotions and life satisfaction.


          When most people talk about happiness, they might be talking about how they feel in the present moment, or they might be referring to a more general sense of how they feel about life overall.

            Because happiness tends to be such a broadly defined term, psychologists and other social scientists typically use the term 'subjective well-being' when they talk about this emotional state. Just as it sounds, subjective well-being tends to focus on an individual's overall personal feelings about their life in the present.
            <div id="carouselExampleSlidesOnly" class=" slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets/pic_1.jpg"  width="650px">
                </div>
                <div class="carousel-item">
                  <img src="assets/pic_2.jpg"  width="650px">
                </div>
                <div class="carousel-item">
                  <img src="assets/pic_3.jpg"  width="650px">
                </div>
              </div>
            </div>
        </div>
  </div>
</div>
